<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}test-common.css">
    <script src="{{ .Site.BaseURL }}probes.js"></script>
  </head>
  <body>

    <div id="site-header">
      <h1><a href="{{ .Site.BaseURL }}">YABT - YET ANOTHER BROWSER TESTS</a></h1>
    </div>

    <div id="content">
      <div id="sidebar">
        <h2>Tests index</h2>
        <ul>
          {{ range .Site.RegularPages }}
          <li class="menu-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      
      <div id="main">
        {{ block "main" . }}
        {{ end }}
        {{ block "footer" . }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
