{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ .Content }}

<div class="header">
  <h2 class="test-title">{{ .Title }}</h2>
</div>

<div class="test-content">
  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>

<div class="test-footer">
  {{ if .Params.references }}
  <div class="references">
    <div class="title">References:</div>
    <ul>
      {{ range .Params.references }}
      <li><a href="{{ . }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>

{{ end }}
